{% extends 'base.html.twig' %}
{% block body %}
				<div id="content" class="site-content" tabindex="-1" style="padding-top:15vh;">
					<div class="col-full">
						<div id="primary">
							<main id="main" class="site-main" role="main">
								<header class="woocommerce-products-header">
									<h1 class="woocommerce-products-header__title page-title">Details sur le produit</h1>
								</header>
								<div id="article-details">	
									<img src={{article.image}}>
										<div>
										<h2>{{article.titre}}</h2>
										<p>Prix : {{article.prix}} €</p>
										<p>{{article.disponibilite}} en stock</p>

										{% if discriminatorColumnName == "livre" %}
										<p>Auteur : {{article.auteur}}</p>
										<p>Nombre de pages : {{article.nbPages}} pages</p>
										<p>Date de parution : {{article.dateDeParution}}</p>
										<p>ISBN : {{article.isbn}} </p>
										{% endif %}

										{% if discriminatorColumnName == "film" %}
										<p>Réalisateur : {{article.realisateur}}</p>
										<p>Durée : {{article.duree.h}} h {{article.duree.i}}</p>
										<p>Date de parution : {{ article.dateDeParution }}</p>
										{% endif %}

										{% if discriminatorColumnName == "musique" %}
										<p>Artiste : {{article.artiste}}</p>
										<p>Date de parution : {{article.dateDeParution}}</p>
										{% for piste in article.pistes %}
										<p>{{piste.name}}</p>
										{% endfor %}
										{% endif %}
										{% if article.disponibilite > 0 %}									
												{% if is_granted('IS_AUTHENTICATED_FULLY') %}
													<form action="/ajouterLigne?id={{ article.id }}" method="post">
														<label style="color:black">Le produit est en stock</label>
														<input type="hidden" name="id" value={{article.getId}}>
														<input type="submit" value="Ajouter au panier">
													</form>
												{% else %}
													<form action="/login" method="post">
														<input type="hidden" name="_username" value="">
														<input type="hidden" name="error" value="">
														<label style="color:black">Le produit est en stock</label>
														<input type="hidden" name="id" value={{article.getId}}>
														<input type="submit" value="Ajouter au panier">
													</form>
												{% endif %}
										{% else %}
											{% if is_granted('IS_AUTHENTICATED_FULLY') %}
												<form action="/ajouterLigne?id={{ article.id }}" method="post">
													<label style="color:black">Le produit n'est pas en stock</label>
													<input type="hidden" name="id" value={{article.getId}}>
													<input type="submit" value="Ajouter au panier">
												</form>
											{% else %}
												<form action="/login" method="post">
													<input type="hidden" name="_username" value="">
													<input type="hidden" name="error" value="">
													<label style="color:black">Le produit n'est pas en stock</label>
													<input type="hidden" name="id" value={{article.getId}}>
													<input type="submit" value="Ajouter au panier">
												</form>
											{% endif %}
										{% endif %}
										</div>
								</div>
							</main>
						</div>
					</div>
				</div>
							<!-- <p>{{discriminatorColumnName}}</p> -->
{% endblock %}
